<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Emerald Hill Golf Course</string>
		<key>Slope</key>
		<integer>121</integer>
		<key>Rating</key>
		<integer>70</integer>
		<key>totalPar</key>
		<integer>72</integer>
		<key>hole1Par</key>
		<integer>4</integer>
		<key>hole1Yards</key>
		<integer>362</integer>
		<key>hole2Par</key>
		<integer>3</integer>
		<key>hole2Yards</key>
		<integer>166</integer>
		<key>hole3Par</key>
		<integer>4</integer>
		<key>hole3Yards</key>
		<integer>341</integer>
		<key>hole4Par</key>
		<integer>3</integer>
		<key>hole4Yards</key>
		<integer>187</integer>
		<key>hole5Par</key>
		<integer>4</integer>
		<key>hole5Yards</key>
		<integer>345</integer>
		<key>hole6Par</key>
		<integer>4</integer>
		<key>hole6Yards</key>
		<integer>326</integer>
		<key>hole7Par</key>
		<integer>5</integer>
		<key>hole7Yards</key>
		<integer>508</integer>
		<key>hole8Par</key>
		<integer>5</integer>
		<key>hole8Yards</key>
		<integer>460</integer>
		<key>hole9Par</key>
		<integer>4</integer>
		<key>hole9Yards</key>
		<integer>417</integer>
		<key>hole10Par</key>
		<integer>4</integer>
		<key>hole10Yards</key>
		<integer>384</integer>
		<key>hole11Par</key>
		<integer>3</integer>
		<key>hole11Yards</key>
		<integer>175</integer>
		<key>hole12Par</key>
		<integer>4</integer>
		<key>hole12Yards</key>
		<integer>277</integer>
		<key>hole13Par</key>
		<integer>4</integer>
		<key>hole13Yards</key>
		<integer>437</integer>
		<key>hole14Par</key>
		<integer>4</integer>
		<key>hole14Yards</key>
		<integer>395</integer>
		<key>hole15Par</key>
		<integer>3</integer>
		<key>hole15Yards</key>
		<integer>192</integer>
		<key>hole16Par</key>
		<integer>4</integer>
		<key>hole16Yards</key>
		<integer>363</integer>
		<key>hole17Par</key>
		<integer>5</integer>
		<key>hole17Yards</key>
		<integer>503</integer>
		<key>hole18Par</key>
		<integer>5</integer>
		<key>hole18Yards</key>
		<integer>480</integer>
	</dict>
</array>
</plist>
