<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>Kishwaukee Country Club</string>
		<key>Slope</key>
		<integer>124</integer>
		<key>Rating</key>
		<integer>71</integer>
		<key>totalPar</key>
		<integer>70</integer>
		<key>Hole1</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>285</integer>
		</dict>
		<key>Hole2</key>
		<dict>
			<key>Par</key>
			<integer>3</integer>
			<key>Yards</key>
			<integer>185</integer>
		</dict>
		<key>Hole3</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>430</integer>
		</dict>
		<key>Hole4</key>
		<dict>
			<key>Par</key>
			<integer>3</integer>
			<key>Yards</key>
			<integer>179</integer>
		</dict>
		<key>Hole5</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>408</integer>
		</dict>
		<key>Hole6</key>
		<dict>
			<key>Par</key>
			<integer>5</integer>
			<key>Yards</key>
			<integer>463</integer>
		</dict>
		<key>Hole7</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>371</integer>
		</dict>
		<key>Hole8</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>352</integer>
		</dict>
		<key>Hole9</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>394</integer>
		</dict>
		<key>Hole10</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>434</integer>
		</dict>
		<key>Hole11</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>437</integer>
		</dict>
		<key>Hole12</key>
		<dict>
			<key>Par</key>
			<integer>5</integer>
			<key>Yards</key>
			<integer>524</integer>
		</dict>
		<key>Hole13</key>
		<dict>
			<key>Par</key>
			<integer>3</integer>
			<key>Yards</key>
			<integer>215</integer>
		</dict>
		<key>Hole14</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>378</integer>
		</dict>
		<key>Hole15</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>323</integer>
		</dict>
		<key>Hole16</key>
		<dict>
			<key>Par</key>
			<integer>3</integer>
			<key>Yards</key>
			<integer>200</integer>
		</dict>
		<key>Hole17</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>384</integer>
		</dict>
		<key>Hole18</key>
		<dict>
			<key>Par</key>
			<integer>4</integer>
			<key>Yards</key>
			<integer>362</integer>
		</dict>
	</dict>
</array>
</plist>
